doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" type='text/css')
        link(rel="stylesheet" href="/css/forms.css")
    body
        .container
            h3(style='text-align:center; color:') Record New Credit
            br
            .row
                .offset-md-3.col-md-6
                    form(method='POST' action='/sale/new-credit' name='RegForm' onsubmit='return validateForm();')
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='branch') Branch
                                input.form-control#branch(name="branch", style='padding:10px'  value=user.branch  readonly)
                        .mb-3.row
                            .col-md-4
                                label.col-sm-2.col-form-label(for='buyer') Customer
                                input#buyer.form-control(type='text' name='buyer')
                            .col-md-4
                                label.col-sm-2.col-form-label(for='nin') NIN
                                input#nin.form-control(type='text' name='nin')
                            .col-md-4
                                label.col-sm-2.col-form-label(for='location') Location
                                input#location.form-control(type='text' name='location')
                        .mb-3.row
                            .col-md-4
                                label.col-sm-2.col-form-label(for='contact') Contact
                                input#contact.form-control(type='number' name='contact')
                            .col-md-4
                                label.col-sm-2.col-form-label(for='itemName') Item
                                select.form-control#itemName(name="itemName", type='text', style='padding:10px' required)
                                    option(value="" selected disabled) Select Item
                                    each product in productList
                                        option(value=product.itemName data-price=product.price) #{product.itemName}
                            .col-md-4
                                label.col-sm-2.col-form-label(for='type') Type
                                input#type.form-control(type='text' name='type')
                        .mb-3.row
                            .col-md-4
                                label.col-sm-2.col-form-label(for='quantity') Quantity
                                input#quantity.form-control(type='number' name='quantity')
                            .col-md-4
                                label.col-sm-2.col-form-label(for='price') Price
                                input#price.form-control(type='number' name='price')
                            .col-md-4
                                label.col-sm-2.col-form-label(for='amount') Amount Due
                                input#amount.form-control(type='number' name='amount')
                        .mb-3.row
                            .col-md-4
                                label.col-sm-2.col-form-label(for='dispatchDate') Dispatch Date
                                input#date.form-control(type='date' name='dispatchDate')
                            .col-md-4
                                label.col-sm-2.col-form-label(for='agent') Sold By
                                input#agent.form-control(type='text' name='agent')
                            .col-md-4
                                label.col-sm-2.col-form-label(for='dueDate') Due Date
                                input#date.form-control(type='date' name='dueDate')
                            

                        button.btn.btn-primary(type='submit' value='submit' name='submit' onclick='validateForm();') Submit
                                br
                    a(href='/sale') Sales Dashboard
                    br
                    a(href='/sale/credit-list') View Credit List
script(src='/js/credit.js') 
script(src='/js/createSale.js')               
script(src='/js/bootstrap.min.js')