doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" type='text/css')
        link(rel="stylesheet", href="/css/forms.css")
    body
        .container
            h3(style='text-align:center;') Edit Purchase
            br
            .row
                .offset-md-3.col-md-6
                    form(name='editProduct' method='POST' action='/product/newProduct?name=' +product._name) 
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='branch') Branch
                                input#branch.form-control(type='text' name='branch' value=product.branch)
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='name') Produce Name
                                input#name.form-control(type='text' name='name' value=product.name)
                            .col-md-6
                                label.col-sm-2.col-form-label(for='type') Produce Type
                                input#type.form-control(type='text' name='type' value=product.type)
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='quantity') Quantity in Kgs
                                input#quantity.form-control(type='number' name='quantity' value=product.quantity)
                            .col-md-6
                                label.col-sm-2.col-form-label(for='cost') Cost Price
                                input#cost.form-control(type='number' name='cost' value=product.cost)
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='nameOfDealer') Supplier
                                input#nameOfDealer.form-control(type='text' name='nameOfDealer' value=product.nameOfDealer)
                            .col-md-6
                                label.col-sm-2.col-form-label(for='contactNumber') Contact
                                input#contactNumber.form-control(type='number' name='contactNumber' value=product.contactNumber)
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='price') Sell Price
                                input#price.form-control(type='number' name='price' value=product.price)
                        .mb-3.row
                            .col-md-6
                                label.col-sm-2.col-form-label(for='date') Date
                                input#date.form-control(type='date' name='date' value=product.date)
                            .col-md-6
                                label.col-sm-2.col-form-label(for='time') Time
                                input#time.form-control(type='time' name='time' value=product.time)

                        button.btn.btn-primary(type='submit') Submit
    
                   
                    a(href='/product/product-list') View Purchase List
                    
                   
script(src='/js/bootstrap.min.js')
