doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= title
    body
        div 
            each item in product
                p= item.name
                p= item.type
                p= item.quantity
                p= item.price
                p= item.amount

            a(href="/product/product-form") Add Another Item
            br
            a(href="/") Home